@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@theme {
  --font-fira: Fira Sans, sans-serif;
  --font-ibm-plex: IBM Plex Sans, sans-serif;
  --color-primary: #191f3a;
  --color-iceFishing: #e3eff8;
  --color-icelightBlue: #acceea;
  --color-superSaiyan: #ffdd00;
  --color-encoreGray: #6f7384;
  --color-blueBay: #5a9dd5;
  --color-sunset: #ffcab1;
  --color-jordyBlue: #7da7d9;
  --color-meltingGlacier: #e9f7f5;
  --color-KonBlue: #172735;
  --color-blueBooties: #c8def1;
  --color-celestialBlue: #2d4f6b;
  --color-imgBg: #d9d9d9;
  --color-windsweptBeach: #e2e3e6;
  --color-primaryButton: #a9abb5;
  --color-tag: #4476a0;
  --color-alphabetBlue: #b9e4c2;
  --color-whiteSmoke: #f3f3f3;
  --color-report: #ffc5c5;
  --color-greenBrocade: #dcf2e0;
  --color-checkmark: #b9e4c2;
  --color-dropdown: #c8def1;
  --color-pureBlack: #1a1a1a;
  --color-galeForce: #36454c;
  --color-cotton: #e9f4fb;
  --color-blueRay: #5ea0d6;
  --color-aquamarine: #7accc0;
  --color-lightgray: #f2f2f2;
  --color-lightyellow: #fff4aa;
  --color-lightlavender: #eae3fc;
  --color-mediumpurple: #8459ef;
  --color-whiteish: #f9fafb;
  --color-lightvanilla: #fff9d4;

  /* BREAKPOINTS */

  /* --breakpoint-xxs: 320px; */
  --breakpoint-xs: 375px;
  --breakpoint-xxs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-1xl: 1440px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}

.overlap-card {
  @apply relative w-full xl:rounded-[20px] pt-6 xl:pt-0 1xl:rounded-[40px] px-4 rounded-2xl flex lg:flex-row flex-col-reverse items-center xl:gap-12  text-center lg:text-left overflow-hidden;
}
.overlap-heading {
  @apply text-2xl sm:text-3xl lg:text-4xl 3xl:text-5xl font-medium font-fira leading-[116%];
}
.overlap-card-heading {
  @apply text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl font-medium font-fira leading-[120%];
}
.overlap-container-container {
  @apply max-w-343.75 3xl:max-w-421 mx-auto w-full;
}
