@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #111827;
  --color-iceFishing: #f1f5f9;
  --color-icelightBlue: #eff6ff;
  --color-icelightBlue2: #dbeafe;
  --color-icelightBlue3: #bfdbfe;
  --color-icelightBlue4: #93c5fd;
  --color-icelightBlue5: #60a5fa;
  --color-icelightBlue6: #3b82f6;
  --color-encoreGray: #64748b;
  --color-meltingGlacier: #ecfeff;
  --color-KonBlue: #0f172a;
  --color-blueBooties: #bfdbfe;
  --color-celestialBlue: #1e3a8a;
  --color-imgBg: #e5e7eb;
  /* BREAKPOINTS */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-1xl: 1440px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  /* FONTS */
  --font-poppins: "Poppins", sans-serif;
}
body,
html {
  @apply font-poppins! h-auto;
}
.overlap-card {
  @apply relative w-full xl:rounded-[20px] h-full pt-6 xl:pt-0 1xl:rounded-[40px] px-4 rounded-2xl flex lg:flex-row flex-col-reverse items-center xl:gap-12  text-center lg:text-left overflow-hidden;
}
.overlap-main-heading {
  @apply text-sm sm:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl text-celestialBlue mb-3 xl:mb-5 mt-3 lg:mt-0;
}
.overlap-card-heading {
  @apply text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl font-semibold leading-[120%] -tracking-tight;
}
.overlap-description {
  @apply text-sm sm:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl text-KonBlue mt-3 mb-5 lg:mt-6 xl:mb-7 2xl:mt-8 3xl:mb-12 leading-[160%];
}
.overlap-card-img {
  @apply object-cover max-w-100 lg:max-w-106 w-full shrink-0 lg:mt-5 3xl:mt-11 rounded-lg lg:rounded-b-lg rounded-b-none;
}
.overlap-container-container {
  @apply max-w-7xl 3xl:max-w-384 mx-auto w-full;
}
.overlap-container-right {
  @apply lg:w-1/2 lg:max-w-156.25 3xl:pt-22.25 lg:pt-16 pb-8 lg:pb-16 3xl:pb-21 flex flex-col items-center lg:items-start;
}
.card {
  @apply flex;
}
.secondary-btn {
  @apply flex items-center justify-center uppercase px-4 h-10 xl:h-12 2xl:h-14 3xl:h-16 sm:px-6 rounded-4xl bg-primary text-white font-bold w-fit  border border-transparent hover:border-primary hover:bg-transparent hover:text-primary transition-all duration-300 ease-in-out cursor-pointer text-sm sm:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 3xl:px-8  leading-[150%] sm:leading-[100%];
}
